html {
    font-size: 6px;
}

a {
    text-decoration: none;
    color: #003049;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MOBILE FIRST */

/* ENCABEZADO */
.encabezado {
    height: 13vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EAE2B7;
}

.encabezado__titulo {
    color: #003049;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 5rem;
    padding-top: 10px;
    text-shadow: 1px 1px 10px #003049;
}

.lista {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 5px;
    text-shadow: 1px 1px 5px #003049;
}

.lista__item {
    font-family: "oswald";
    color: #003049;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

/* PORTADA */
.portada {
    height:50vh;
    background-image: url(/assets/img/zanahorias.jpg);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
}

.portada__titulo {
    color: #003049;
    font-family: Oswald;
    font-size: 4rem;
    font-weight: 600;
    text-shadow: 2px 2px 10px white;
}

.portada__texto {
    color: #003049;
    font-family: oswald;
    font-size: 2.5rem;
    font-weight: 400;
    text-shadow: 2px 2px 10px white;
}

.color-healthy {
    color: #D62828;
}
 /* PIE DE PAGINA */
 .footer {
    background-color: #EAE2B7;
    background-size: cover;
    font-family: oswald;
    height: 100%;
    width: 100%;
}
.footer__titulo {
    font-family: Montserrat;
    font-size: 4rem;
    font-weight: 600;
    color: #D62828;
    padding: 5px;
}

.footer__contacto {
    color: #003049;
    font-family: "oswald";
    font-size: 2rem;
    font-weight: 400;
    padding: 1px;
}

/* MI CUENTA */
main {
    height: 45vh;
}

h2 {
    color: #F58C1D;
    font-family: Montserrat;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: left;
    padding-left: 6%;
    padding-top: 6%;
}

h4 {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 600;
    color: #D62828;
    text-align: center;
    padding-top: 4%;
}

.micuenta__parrafo {
    font-size: 1.5rem;
    padding: 2%;
    font-family: "oswald";
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
}

.micuenta__parrafo2 {
    font-size: 1.5rem;
    padding: 2%;
    font-family: "oswald";
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
}

aside {
    text-align: right;
    font-family: oswald;
    font-size: 2rem;
    font-weight: 600;
}

.btn {
    border: 1px solid #003049;
    border-radius: 10px;
    color: white;
    background-color: #002f4946;
    padding: 6px 10px;
    font-family: Montserrat;
    font-size: 0.8rem;
}

/* CREAR CUENTA */

.crearcuenta__nombre {
    padding-top: 10px;
    font-family: oswald;
    font-size: 1.5rem;
    font-weight: 400;
    color: #003049;
    padding-left: 5%;
}

.crearcuenta__fecha {
    font-family: oswald;
    font-size: 1.5rem;
    font-weight: 400;
    color: #003049;
    padding-left: 5%;
}

.crearcuenta__sexo {
    font-family: oswald;
    font-size: 1.5rem;
    font-weight: 400;
    color: #003049;
    padding-left: 5%;
}

.crearcuenta__telefono {
    font-family: oswald;
    font-size: 1.5rem;
    font-weight: 400;
    color: #003049;
    padding-left: 5%;
}

.crearcuenta__mail {
    font-family: oswald;
    font-size: 1.5rem;
    font-weight: 400;
    color: #003049;
    padding-left: 5%;
}

.crearcuenta__contraseña {
    font-family: oswald;
    font-size: 1.5rem;
    font-weight: 400;
    color: #003049;
    padding-left: 5%;
}

.crearcuenta__terminos {
    font-family: oswald;
    font-size: 1.5rem;
    font-weight: 400;
    color: #003049;
    padding-left: 5%;
    padding-bottom: 5px;
}

.boton {
    border: 1px solid #003049;
    color: #003049;
    background-color: white;
    padding: 5px 10px;
    font-family: Montserrat;
    font-size: 0.8rem;
}

/* VISTA COMPUTADORA */

@media screen and (min-width: 768px) {
    .encabezado {
        background-color: #EAE2B7;
        position: sticky;
        top: 0px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    .encabezado__titulo {
        font-size: 8rem;
    }

    .lista__item {
        font-size: 3.5rem;
    }

    /* PORTADA */

    .portada {
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: center;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }

    .portada__titulo {
        font-size: 6rem;
    }

    .portada__texto {
        font-size: 4rem;
    }

    /* FOOTER */
    .footer {
        width: 100%;
        height: 35vh;
    }
    .footer__titulo {
        font-size: 6rem;
        transform: rotate(135deg);
    }
}